.azul  {
	width: 200px; 
    height: 3000px;
	background: #0000FF;
}
.rojo  {
	width: 3000px; 
    height: 100px;
	background: #FF0000;
}
.verde  {
	width: 200px; 
    height: 3000px;
	background: #04B404;
}
.izquierda {
	float:left;
}
.derecha {
	float:right;
}

.texto {
	font-family: Arial, Helvetica, Sans-serif;
	color: black;
	font-size: 72px;
	text-align: center;
}

.horizontal {
	float:left;
}
